@CHARSET "UTF-8";

body
{
font-family:monospace;
}

form label
{
display:block;
margin-bottom:10px;
color:#555555;
}

form label span
{
display:block;
float:left;
padding-right:6px;
width:40%;
text-align:right;
font-weight:bold;
}

form input[type=text]
{
font-family:monospace;
border:1px solid #76ac00;
color:#666666;
width:200px;
}

form input[name=auth]
{
background: white url("../favicon.ico") no-repeat 1px 1px; 
padding-left:20px;
width:180px; 
}

form input[type=submit]
{
font-family:monospace;
color:#555555;
border:1px solid #76ac00;
background-color:white;
}